/* Navbar.css */
.navbar {
    background-color: #333; /* Dark background color */
    padding: 10px 20px; /* Padding for the navbar */
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays above other content */
  }
  
  .navbar-container {
    display: flex; /* Make children elements of the navbar container flex items */
    justify-content: space-between; /* Space evenly between flex items */
    align-items: center; /* Center align flex items vertically */
  }
  
  .logo {
    font-size: 1.5rem; /* Increase font size for the logo */
  }
  
  .logo-link {
    color: #fff; /* Text color for the logo */
    text-decoration: none; /* Remove default underline */
  }
  
  .nav-links {
    list-style-type: none; /* Remove bullet points for the list */
    display: flex; /* Make children elements of the nav links flex items */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .nav-link {
    margin-left: 20px; /* Add space between each navigation link */
    color: #fff; /* Text color for navigation links */
    text-decoration: none; /* Remove default underline */
  }
  
  .nav-link:hover {
    text-decoration: underline; /* Add underline when hovering over navigation links */
  }
  
  /* Media Query for Responsive Design */
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column; /* Change flex direction to stack items vertically */
      justify-content: center; /* Center items vertically */
    }
  
    .nav-links {
      margin-top: 20px; /* Add space between logo and navigation links */
    }
  
    .nav-link {
      margin: 10px 0; /* Adjust spacing for navigation links */
    }
  }